# Copy this file to .env.local and fill with your EmailJS credentials
# Do NOT commit your real .env.local with secrets to version control.

NEXT_PUBLIC_EMAILJS_SERVICE_ID="service_eb9tnnw"
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID="template_jksi6h8"
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY="QSFvYxqBh1D_kG0ss"

# In EmailJS create a template that accepts the variables:
# from_name, from_email, subject, message, to_email
# For help see: https://www.emailjs.com/docs/